.benefits {
    padding-bottom: 94px;
    padding-top: 94px;

    &__features {
        display: flex;
        flex-wrap: wrap;
    }

    &__item+.item {
        margin-left: 30px;
    }

    &__item {
        width: 270px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__details {
        margin-bottom: 10px;
        line-height: 1.14;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--title-text-color);
    }

    &__description {
        line-height: 1.71;
        color: var(--primary-text-color);
    }
}