.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    
    @media screen and (min-width:$desktop){
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        gap: 30px;
    }

    &__company {
        fill: #AFB1B8;

        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    background-color: var(--white-color);
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    @media screen and (min-width:$tablet){
        width: 226px;
    }

    @media screen and (min-width:$desktop){
        width: 170px;
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &:hover .clients__company,
    &:focus .clients__company {
        fill: var(--accent-color);
    }
}