//BRAIKPOINTS
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;


.container {
    margin-left: auto;
    margin-right: auto;
    
    padding: 0 15px;

    //mobile screen

    @media screen and (min-width: 480px){
        width: 450px;
    }

    
    //tablet screen

    @media screen and (min-width: 767px){
        width: 737px;
    }
    
    //desktop screen

    @media screen and (min-width: 1200px){
        width: 1200px;
    }
    
}