.social-page {
    margin-left: 70px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    & .link+.link {
        margin-left: 10px;
    }
}

.socials-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);

        .command__icon {
            fill: var(--white-color);
        }
    }
}

.command__socials-item{
    background-color: var(--white-color);
}

.footer .socials-item {
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.command__icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .icon {
    fill: var(--white-color);
}